venv
*.env
*/codepaster.py
*/migrations/*
*/__pycache__/*
*/__pycache__
*/test.md
*.pyc
db.sqlite3
testing
# Xcode user data
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcdebugger/
*.xcbkptlist
**/*.pbxproj

# Build and derived data
DerivedData/
build/

# macOS metadata
.DS_Store
.DS_Store
__pycache__/
.DS_Store

rough_note.md
.github

db.sqlite3
*.sqlite3
*.db
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.mp3
*.mp4
*.avi
*.mov
*.wav
*.flac
*.mkv
*.webm
*.svg
*.ico
*.bmp
*.tiff
*.heic
*.ogg
*.zip
*.tar
*.gz
*.rar
*.7z
*.xls
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
*.csv
*.tsv
*.log
 