asgiref
Django
djangorestframework
djangorestframework_simplejwt
filelock
fsspec
gunicorn
Jinja2
MarkupSafe
mpmath
networkx
packaging
pillow
psycopg2-binary
PyJWT
python-dotenv
setuptools
sqlparse
sympy
typing_extensions
boto3
django-storages
weasyprint
google-genai
PyPDF2
pdf2image
Pillow